server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/event_db
    username: postgres
    password: Thomas
    driver-class-name: org.postgresql.Driver
  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "0123456789abcdef0123456789abcdef0123456789abcdef"
  expiration: 86400000
